.grid.grid--gut12
  .col.col--8.prose.my24.mx24
    .flex-parent-inline.flex-parent--center-cross.txt-s
      %a.link.link--darken50{:href => "/"} OMaps.de
      %svg.icon
        %use{"xlink:href" => "#icon-caret-right"}
      %span.txt-bold Impressum und Datenschutz
.grid.grid--gut12
  .col.col--8.prose.my24.mx24
    %h1
      Impressum und Datenschutz
    %p
      Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.