#map

#loading-background.flex-parent.flex-parent--center-cross.flex-parent--center-main.absolute.top.right.bottom.left.bg-darken25.z5
  #spinner.flex-child.loading

#entry

%script#popup-template{type: "text/x-handlebars-template"}
  %h2.txt-m.txt-bold {{title}}
  %h3.txt-m {{type}}
  %p.txt-s &copy; {{year}} {{club}}

%script#entry-template{type: "text/x-handlebars-template"}
  .absolute.top-ml.left.bottom.z1.w-full.w300-ml.w300-mxl.px12.py12-ml.mt60.mb30
    .flex-parent.flex-parent--column.viewport-third.h-full.bg-white.round-ml.shadow-darken10
      .px12.py12.scroll-auto
        %button#hideButton.absolute.top.right.px12.py12
          %svg.icon.link.color-darken50
            %use{"xlink:href" => "#icon-close"}
        %h2.txt-m.txt-bold {{name}}
        %h3.txt-m {{map_type}}
        {{#if club}}
        %h3.txt-s.txt-bold.mt6 &copy; {{year}} {{club}}
        {{/if}}
        {{#if scale}}
        %h3.txt-s.txt-bold.mt6
          Maßstab
          %span.txt-s.txt-light 1:{{scale}}
        {{/if}}

        {{#if contours}}
        %h3.txt-s.txt-bold.mt6
          Äquidistanz
          %span.txt-s.txt-light {{contours}} m
        {{/if}}

        {{#if mapper}}
        %h3.txt-s.txt-bold.mt6
          Kartenaufnahme
          %span.txt-s.txt-light {{mapper}}
        {{/if}}

        {{#if contact_email}}
        %h3.txt-s.txt-bold.mt6
          Kontakt
          %span.txt-s.txt-light {{contact_email}}
        {{/if}}

        {{#if description}}
        %p.txt-s.txt-light.mt6 {{description}}
        {{/if}}
        {{#if identifier}}
        %h3.txt-s.txt-bold.mt6
          Karten-ID
          %span.txt-s.txt-light {{identifier}}
        {{/if}}
        -#%a.txt-s.txt-light{href: '{{url}}', target: '_blank'} {{url}}
        {{#each images}}
        %img.preview{:src => "{{url}}"}
        {{~/each}}





- if @map.nil?
  :javascript
    const center = [12.208, 51.508];
    const deeplink = false;
    const mapId = 0;
- else
  :javascript
    const center = [#{@map.lng}, #{@map.lat}];
    const deeplink = true;
    const mapId = #{@map.id};

:javascript
  var url = "/maps.json";
  var searchUrl = "/maps/search.json";
  var detailUrl = "#{map_url(format: :json, id: 'mapId')}";




  mapboxgl.accessToken = 'pk.eyJ1Ijoib3JpZW50ZXJhcmUiLCJhIjoiTDg0RE5WZyJ9.OyBqycEeIbDxvsFSP0Pzbw';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/orienterare/cj731u0fm264z2sqh47snx9ep',
    center: [12.208, 51.508],
    zoom: 5
      // maxBounds: boundsGermanyExtended
  });
